<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kavitapc.fitnessreminder">

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="ActFeed"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GoalDetails"
            android:label="Add an Activity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CreateOwn"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".fcm.ActFeedsFirebaseInstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- This is required for immediate syncs -->
        <service
            android:name=".reminder.ActivityReminderIntentService"
            android:exported="false" />

        <activity
            android:name=".EditActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ContactUS"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".OnboardingActivity"
            android:label="@string/title_activity_onboarding"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".AppTour"
            android:label="@string/title_app_tour"
            android:parentActivityName=".MainActivity"/>
    </application>

</manifest>